body{
    background-color:hsl(13, 31%, 94% );
    /* max-width: auto; */
    overflow-x: hidden;
}

 h1{
    color: hsl(14, 65%, 9%) ;
     margin-left: 20px; 
    
}
.upper-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.image{
    width: 340px;
    height: 200px;
    border-radius: 6px;
   
}



.add-to-cart{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    border:1px solid hsl(14, 65%, 9%) ;
    border-radius: 20px;
    background-color: hsl(20, 50%, 98%);
    z-index: 1;
    position: absolute;
    top: 170px;
    cursor: pointer;
   
}

.lower-container{
  margin-left: 10px; 
  margin-top: 22px;
}

.cart{
    font-size: 16px;
    color:hsl(14, 65%, 9%) ;
    font-weight: bold;
}

.subtittle{
    font-size:14px;
    color: hsl(12, 20%, 44%);
}

.dessert-name{
    font-size: 16px;
    color: hsl(14, 65%, 9%);
    font-weight: bold;
}

.price{
    font-size: 16px;
    color: hsl(14, 86%, 42%);
    font-weight: bold;
}

.empty-state{
    background-color: hsl(20, 50%, 98%); 
    border-radius: 10px;
}

.empty-state-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: cyan; */
  
    

}

h2{
    color:  hsl(14, 86%, 42%);
    font-size: 16px;
    padding-left: 6px;
}



.note-statement{
    font-size: 16px;
    color:hsl(12, 20%, 44%);
}

@media screen and (min-width:1366px){

    main{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 12px; 
    }
    
    .parent-container{
        width: 70%;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        gap: 1rem;
         padding: 6px; 
    }
    
    .image{
        width: 300px;
    }

    .add-to-cart{
        width: 150px;
        gap:2px;
        border-radius: 50px;
    }

    .cart{
        font-size: 14px;
    }
     
    .subtittle{
        font-size:15px;
        color: hsl(12, 20%, 44%);
    }

    .empty-state{
        width: 300px;
        height: 200px; 
    }

    .empty-state-icon{
        height: 100px;
    }
    
}


@media screen and (min-width:1440px){

    main{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 12px;
    }
    .parent-container{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 6px;
    }

    .empty-state{
        width: 340px;
        height: 200px;
    }
} 

